In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('HistoricalQuotes2.csv')
df

     close    volume     open      high       low
0   190.29  37847260  190.300  192.1400  189.3400
1   189.91  20912890  191.900  192.2000  189.0700
2   190.98  23975350  194.990  195.1900  190.1000
3   194.21  19005150  194.610  195.9600  193.6100
4   194.82  16553500  193.060  194.8500  192.4300
5   193.00  18680930  192.450  193.6601  192.0500
6   191.61  15955820  190.680  191.9600  189.5600
7   191.44  20670830  191.780  192.4300  190.1700
8   191.88  20182050  189.690  192.5500  189.6900
9   190.40  16365720  191.780  191.8000  189.9300
10  191.45  15515000  189.750  191.8700  189.2000
11  190.91  15009800  191.520  192.6500  190.4150
12  191.33  12506830  191.080  191.8400  190.9000
13  191.03  18000180  189.530  191.4100  189.3100
14  187.88  18776390  188.500  189.7799  187.6100
15  190.35  15801370  190.710  191.2800  190.1801
16  190.58  19636390  189.500  190.6800  189.3000
17  187.97  17426160  185.420  188.4340  185.2000
18  185.40  16543880  185.260  186.4100  184.2800
19  183.92  13954810  187.790  187.9500  183.5400
20  187.18  17675210  183.820  187.3000  183.4200
21  185.11  22551660  186.290  187.1900  182.9100
22  185.50  17352380  184.100  186.2100  183.8000
23  184.16  24987260  185.228  187.2800  184.0300
24  184.43  24378480  182.990  186.5300  182.5400
25  182.17  31632320  183.400  184.9200  180.7300
26  184.92  27185130  186.120  186.1500  184.7000
27  185.46  25649240  187.250  188.3500  184.9400
28  186.50  20490090  186.350  187.2000  185.7300
29  185.69  33538550  185.140  186.3300  183.4500
30  188.74  18458410  187.880  189.2200  187.2000

In [8]:
rng=pd.date_range(start='2018-7-1',end='2018-7-30',freq='B')
rng

DatetimeIndex(['2018-07-02', '2018-07-03', '2018-07-04', '2018-07-05',
               '2018-07-06', '2018-07-09', '2018-07-10', '2018-07-11',
               '2018-07-12', '2018-07-13', '2018-07-16', '2018-07-17',
               '2018-07-18', '2018-07-19', '2018-07-20', '2018-07-23',
               '2018-07-24', '2018-07-25', '2018-07-26', '2018-07-27',
               '2018-07-30'],
              dtype='datetime64[ns]', freq='B')

In [10]:
# df.set_index(rng,inplace=True) diff size of clms

In [12]:
#df.asfreq('D',method='pad')